body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
    margin: 0;
}

h1, h2 {
    text-align: center;
    color: #ff4b44;
    font-size: 3rem;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px auto 0 auto; /* Centra la tabla y agrega margen superior de 20px */
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #ff4b44;
    color: white;
}

td img {
    height: 30px;
    vertical-align: middle;
    margin-right: 10px;
}

/* Celdas pares */
tr:nth-child(even) td {
    background-color: #f2f2f2; /* Gris claro */
}

/* Celdas impares */
tr:nth-child(odd) td {
    background-color: #e9e9e9; /* Gris ligeramente más oscuro */
}

/* Estilo de la leyenda */
ul.legend {
    list-style-type: none;
    padding-left: 0;
    margin-top: 20px;
    width: 80%;
    margin: 20px auto;
}

ul.legend li {
    margin-bottom: 8px;
    font-size: 1em;
}

ul.legend span {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 8px;
}

/* Colores de la leyenda */
ul.legend .champions {
    background-color: #1e88e5; /* Azul */
}

ul.legend .europa {
    background-color: #fdd835; /* Amarillo */
}

ul.legend .conference {
    background-color: #fb8c00; /* Naranja */
}

ul.legend .relegation {
    background-color: #e53935; /* Rojo */
}

.header {
    display: flex;
    align-items: center;
    background-color: #1a1a1a;
    padding: 10px;
}

.header img {
    height: 75px;
    vertical-align: middle;
    padding: 15px 10px 15px 30px;
}

.header nav {
    display: flex;
    gap: 50px;
    flex-grow: 1;
    justify-content: center;
}

.header nav a {
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    font-size: larger;
    background-color: #ff4b44;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.header nav a:hover {
    background-color: #a0110f;
    color: white;
}

/* Para pantallas pequeñas (menos de 600px de ancho) */
@media (max-width: 600px) {
    h1, h2 {
        text-align: center;
        color: #ff4b44;
        font-size: 1.8rem;
    }
    
    table {
        width: 95%;
        border-collapse: collapse;
        margin: 5px auto 0 auto; /* Centra la tabla y agrega margen superior de 20px */
    }
    
    table, th, td {
        border: 1px solid #ddd;
    }
    
    th, td {
        padding: 5px;
        text-align: center;
        font-size: 0.8rem;
    }
    
    th {
        background-color: #ff4b44;
        color: white;
    }
    
    td img {
        height: 25px !important;
        vertical-align: middle;
        margin-right: 6px !important;
    }
    
    .header img {
        height: 50px;
        vertical-align: middle;
        padding: 10px 20px 10px 10px;
    }
    
    .header nav {
        display: flex;
        gap: 15px;
        flex-grow: 1;
        justify-content: center;
    }
    
    .header nav a {
        color: white;
        text-decoration: none;
        padding: 4px 6px;
        font-size: small;
        background-color: #ff4b44;
        border-radius: 5px;
        transition: background-color 0.3s;
    }
}

/* Para pantallas medianas (601px a 1024px) */
@media (min-width: 601px) and (max-width: 1024px) {
    h1, h2 {
        text-align: center;
        color: #ff4b44;
        font-size: 2rem;
    }
    
    table {
        width: 90%;
        border-collapse: collapse;
        margin: 20px auto 0 auto; /* Centra la tabla y agrega margen superior de 20px */
    }
    
    th, td {
        padding: 5px;
        text-align: center;
        font-size: 0.8rem;
    }
    
    td img {
        height: 20px;
        vertical-align: middle;
        margin-right: 6px;
    }
    
    .header img {
        height: 65px;
        vertical-align: middle;
        padding: 10px;
    }
    
    .header nav {
        display: flex;
        gap: 20px;
        flex-grow: 1;
        justify-content: center;
    }
    
    .header nav a {
        color: white;
        text-decoration: none;
        padding: 6px 8px;
        font-size: 1rem;
        background-color: #ff4b44;
        border-radius: 5px;
        transition: background-color 0.3s;
    }
}

/* Para pantallas medianas grandes (1024px a 1400px) */
@media (min-width: 1024px) and (max-width: 1400px) {
    h1, h2 {
        text-align: center;
        color: #ff4b44;
        font-size: 2rem;
    }
    
    table {
        width: 80%;
        border-collapse: collapse;
        margin: 20px auto 0 auto; /* Centra la tabla y agrega margen superior de 20px */
    }
    
    th, td {
        padding: 5px;
        text-align: center;
        font-size: 1rem;
    }
    
    .header nav {
        display: flex;
        gap: 20px;
        flex-grow: 1;
        justify-content: center;
    }
}